In [18]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/stroke-trial-prediction/Test1.csv
/kaggle/input/stroke-trial-prediction/Train1.csv

In [19]:
train = pd.read_csv("/kaggle/input/stroke-trial-prediction/Train1.csv", engine='python')
test = pd.read_csv("/kaggle/input/stroke-trial-prediction/Test1.csv", engine='python')

In [20]:
train

,ID,HOSPNUM,RDELAY,RCONSC,SEX,AGE,RSLEEP,RATRIAL,RCT,RVISINF,...,DEAD8,H14,ISC14,NK14,STRK14,HTI14,PE14,DVT14,TRAN14,NCB14
0,1,1,17,D,M,69,Y,NaN,Y,Y,...,0,0,0,0,0,0,0,0,0,0
1,2,1,10,F,M,76,Y,NaN,Y,N,...,0,0,0,0,0,0,0,0,0,0
2,3,1,24,F,M,23,N,NaN,Y,N,...,0,0,0,0,0,0,0,0,0,0
3,4,1,5,D,F,83,N,NaN,N,N,...,0,0,0,0,0,0,0,0,0,0
4,6,1,8,D,F,64,Y,NaN,Y,Y,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9757,9821,38,4,F,F,81,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0
9758,9822,86,11,F,F,49,N,N,Y,N,...,0,0,0,0,0,0,0,0,0,0
9759,9823,98,24,F,M,63,Y,N,Y,Y,...,0,0,0,0,0,0,0,0,0,0
9760,9824,255,42,F,M,66,N,N,Y,Y,...,0,0,0,0,0,0,0,0,0,1
9761,9825,255,47,F,M,75,N,N,Y,Y,...,0,0,0,0,0,0,0,0,0,0

In [21]:
test

,ID,HOSPNUM,RDELAY,RCONSC,SEX,AGE,RSLEEP,RATRIAL,RCT,RVISINF,...,DEAD8,H14,ISC14,NK14,STRK14,HTI14,PE14,DVT14,TRAN14,NCB14
0,9826,1,43,F,F,71,N,NaN,Y,N,...,0,0,0,0,0,0,0,0,0,0
1,9827,1,6,F,M,81,N,NaN,N,N,...,0,0,0,0,0,0,0,0,0,0
2,9828,4,20,F,M,78,N,NaN,N,N,...,0,0,0,0,0,0,0,0,0,0
3,9829,1,39,F,M,54,N,NaN,Y,N,...,0,0,0,0,0,0,0,0,0,0
4,9830,1,4,F,F,77,N,NaN,N,N,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9553,19379,367,7,F,M,66,N,N,Y,Y,...,0,0,0,0,0,0,0,0,0,0
9554,19380,255,33,F,M,68,N,Y,Y,N,...,0,0,0,0,0,0,0,0,0,0
9555,19381,341,21,F,M,77,N,N,Y,N,...,0,0,1,0,1,0,0,0,0,0
9556,19382,255,40,D,F,87,N,N,Y,Y,...,0,0,0,0,0,0,0,0,0,0
9557,19383,255,15,F,M,54,N,N,Y,Y,...,0,0,0,0,0,0,0,0,0,0

In [30]:
train.columns

Index(['ID', 'HOSPNUM', 'RDELAY', 'RCONSC', 'SEX', 'AGE', 'RSLEEP', 'RATRIAL',
       'RCT', 'RVISINF',
       ...
       'DEAD8', 'H14', 'ISC14', 'NK14', 'STRK14', 'HTI14', 'PE14', 'DVT14',
       'TRAN14', 'NCB14'],
      dtype='object', length=113)

In [31]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9558 entries, 0 to 9557
Columns: 103 entries, ID to NCB14
dtypes: float64(16), int64(28), object(59)
memory usage: 7.5+ MB

In [32]:
train.describe()

,ID,HOSPNUM,RDELAY,AGE,RSBP,HOURLOCAL,MINLOCAL,DAYLOCAL,ONDRUG,DMAJNCHD,...,DEAD8,H14,ISC14,NK14,STRK14,HTI14,PE14,DVT14,TRAN14,NCB14
count,9762.000000,9762.000000,9762.000000,9762.000000,9762.000000,9762.000000,9762.000000,9762.000000,9762.000000,76.000000,...,9762.000000,9762.000000,9762.000000,9762.000000,9762.000000,9762.000000,9762.000000,9762.000000,9762.000000,9762.000000
mean,4905.944786,199.703852,20.103667,71.774944,160.060131,15.573448,30.961791,4.085843,10.891518,11.276316,...,0.012088,0.008707,0.020385,0.013829,0.042409,0.003278,0.007478,0.001229,0.008093,0.026019
std,2838.500023,159.831852,12.489147,11.566463,27.636832,12.149564,19.382456,1.843094,4.161479,30.853892,...,0.109283,0.092910,0.141321,0.116787,0.201532,0.057163,0.086156,0.035041,0.089599,0.159201
min,1.000000,1.000000,1.000000,20.000000,70.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2447.250000,60.000000,9.000000,65.000000,140.000000,11.000000,15.000000,3.000000,8.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4900.500000,159.000000,19.000000,73.000000,160.000000,14.000000,31.000000,4.000000,14.000000,6.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7363.500000,319.000000,29.000000,80.000000,180.000000,17.000000,45.000000,6.000000,14.000000,9.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9825.000000,568.000000,48.000000,98.000000,290.000000,99.000000,99.000000,7.000000,14.000000,267.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [33]:
test.describe()

,ID,HOSPNUM,RDELAY,AGE,RSBP,HOURLOCAL,MINLOCAL,DAYLOCAL,ONDRUG,DMAJNCHD,...,DEAD8,H14,ISC14,NK14,STRK14,HTI14,PE14,DVT14,TRAN14,NCB14
count,9558.00000,9558.000000,9558.000000,9558.000000,9558.000000,9558.000000,9558.000000,9558.000000,9557.000000,73.000000,...,9558.000000,9558.000000,9558.000000,9558.000000,9558.000000,9558.000000,9558.000000,9558.000000,9558.000000,9558.000000
mean,14604.50000,198.692823,20.148881,71.698159,160.278719,15.581084,30.711760,4.080352,10.895992,7.835616,...,0.011718,0.007847,0.020297,0.013078,0.040804,0.002825,0.006382,0.001046,0.009102,0.028667
std,2759.30127,159.887430,12.466740,11.645815,27.590602,12.001607,19.330245,1.841481,4.195173,5.864236,...,0.107619,0.088239,0.141022,0.113615,0.197845,0.053077,0.079637,0.032330,0.094976,0.166878
min,9826.00000,1.000000,1.000000,16.000000,71.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12215.25000,60.000000,9.000000,65.000000,140.000000,11.000000,15.000000,3.000000,8.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,14604.50000,156.000000,19.000000,73.000000,160.000000,14.000000,30.000000,4.000000,14.000000,7.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,16993.75000,317.000000,29.000000,80.000000,180.000000,17.000000,45.000000,6.000000,14.000000,10.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,19383.00000,568.000000,48.000000,99.000000,295.000000,99.000000,99.000000,7.000000,14.000000,40.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [36]:
train_data = train.dropna(axis=1)
train_data

,ID,HOSPNUM,RDELAY,RCONSC,SEX,AGE,RSLEEP,RCT,RVISINF,RSBP,...,DEAD8,H14,ISC14,NK14,STRK14,HTI14,PE14,DVT14,TRAN14,NCB14
0,1,1,17,D,M,69,Y,Y,Y,140,...,0,0,0,0,0,0,0,0,0,0
1,2,1,10,F,M,76,Y,Y,N,150,...,0,0,0,0,0,0,0,0,0,0
2,3,1,24,F,M,23,N,Y,N,120,...,0,0,0,0,0,0,0,0,0,0
3,4,1,5,D,F,83,N,N,N,130,...,0,0,0,0,0,0,0,0,0,0
4,6,1,8,D,F,64,Y,Y,Y,180,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9757,9821,38,4,F,F,81,N,N,N,180,...,0,0,0,0,0,0,0,0,0,0
9758,9822,86,11,F,F,49,N,Y,N,150,...,0,0,0,0,0,0,0,0,0,0
9759,9823,98,24,F,M,63,Y,Y,Y,150,...,0,0,0,0,0,0,0,0,0,0
9760,9824,255,42,F,M,66,N,Y,Y,120,...,0,0,0,0,0,0,0,0,0,1
9761,9825,255,47,F,M,75,N,Y,Y,210,...,0,0,0,0,0,0,0,0,0,0

In [37]:
test_data = test.dropna(axis=1)
test_data

,ID,HOSPNUM,RDELAY,RCONSC,SEX,AGE,RSLEEP,RCT,RVISINF,RSBP,...,DEAD8,H14,ISC14,NK14,STRK14,HTI14,PE14,DVT14,TRAN14,NCB14
0,9826,1,43,F,F,71,N,Y,N,170,...,0,0,0,0,0,0,0,0,0,0
1,9827,1,6,F,M,81,N,N,N,170,...,0,0,0,0,0,0,0,0,0,0
2,9828,4,20,F,M,78,N,N,N,170,...,0,0,0,0,0,0,0,0,0,0
3,9829,1,39,F,M,54,N,Y,N,135,...,0,0,0,0,0,0,0,0,0,0
4,9830,1,4,F,F,77,N,N,N,140,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9553,19379,367,7,F,M,66,N,Y,Y,110,...,0,0,0,0,0,0,0,0,0,0
9554,19380,255,33,F,M,68,N,Y,N,160,...,0,0,0,0,0,0,0,0,0,0
9555,19381,341,21,F,M,77,N,Y,N,220,...,0,0,1,0,1,0,0,0,0,0
9556,19382,255,40,D,F,87,N,Y,Y,160,...,0,0,0,0,0,0,0,0,0,0
9557,19383,255,15,F,M,54,N,Y,Y,184,...,0,0,0,0,0,0,0,0,0,0

In [38]:
#train = train.interpolate()
#test = test.interpolate()

In [43]:
train_data.columns

Index(['ID', 'HOSPNUM', 'RDELAY', 'RCONSC', 'SEX', 'AGE', 'RSLEEP', 'RCT',
       'RVISINF', 'RSBP', 'RDEF1', 'RDEF2', 'RDEF3', 'RDEF4', 'RDEF5', 'RDEF6',
       'RDEF7', 'RDEF8', 'STYPE', 'RDATE', 'HOURLOCAL', 'MINLOCAL', 'DAYLOCAL',
       'RXASP', 'RXHEP', 'ONDRUG', 'COUNTRY', 'CNTRYNUM', 'DIED', 'EXPDD',
       'EXPD6', 'EXPD14', 'SET14D', 'ID14', 'OCCODE', 'DEAD1', 'DEAD2',
       'DEAD3', 'DEAD4', 'DEAD5', 'DEAD6', 'DEAD7', 'DEAD8', 'H14', 'ISC14',
       'NK14', 'STRK14', 'HTI14', 'PE14', 'DVT14', 'TRAN14', 'NCB14'],
      dtype='object')

In [41]:
test_data.columns

Index(['ID', 'HOSPNUM', 'RDELAY', 'RCONSC', 'SEX', 'AGE', 'RSLEEP', 'RCT',
       'RVISINF', 'RSBP', 'RDEF1', 'RDEF2', 'RDEF3', 'RDEF4', 'RDEF5', 'RDEF6',
       'RDEF7', 'RDEF8', 'STYPE', 'RDATE', 'HOURLOCAL', 'MINLOCAL', 'DAYLOCAL',
       'RXASP', 'RXHEP', 'COUNTRY', 'CNTRYNUM', 'EXPDD', 'EXPD6', 'EXPD14',
       'SET14D', 'ID14', 'DEAD1', 'DEAD2', 'DEAD3', 'DEAD4', 'DEAD5', 'DEAD6',
       'DEAD7', 'DEAD8', 'H14', 'ISC14', 'NK14', 'STRK14', 'HTI14', 'PE14',
       'DVT14', 'TRAN14', 'NCB14'],
      dtype='object')

In [61]:
tr_object_col = train_data.select_dtypes(include='object')
tr_object_col

,RCONSC,SEX,RSLEEP,RCT,RVISINF,RDEF1,RDEF2,RDEF3,RDEF4,RDEF5,RDEF6,RDEF7,RDEF8,STYPE,RDATE,RXASP,RXHEP,COUNTRY
0,D,M,Y,Y,Y,N,N,N,Y,N,Y,N,Y,PACS,sty-91,Y,N,UK
1,F,M,Y,Y,N,Y,Y,Y,N,N,N,N,N,LACS,sty-91,N,L,UK
2,F,M,N,Y,N,N,N,N,N,N,N,N,Y,OTH,lut-91,N,L,UK
3,D,F,N,N,N,Y,Y,Y,Y,Y,N,N,N,TACS,Mar-91,N,H,UK
4,D,F,Y,Y,Y,Y,Y,Y,N,Y,Y,N,N,TACS,Mar-91,Y,H,UK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9757,F,F,N,N,N,Y,N,N,N,N,N,Y,Y,POCS,lip-93,N,M,ITAL
9758,F,F,N,Y,N,Y,Y,Y,Y,N,N,N,N,PACS,maj-93,Y,M,UK
9759,F,M,Y,Y,Y,Y,Y,Y,N,Y,C,N,C,TACS,lip-94,N,N,NETH
9760,F,M,N,Y,Y,Y,Y,Y,Y,Y,C,N,N,TACS,lut-94,N,L,UK
9761,F,M,N,Y,Y,Y,Y,Y,N,N,N,N,C,PACS,gru-93,N,M,UK

In [62]:
train_data_drop_obj = train_data.select_dtypes(exclude='object')
test_data_drop_obj = test_data.select_dtypes(exclude='object')

In [71]:
train_data_drop_obj.columns

Index(['ID', 'HOSPNUM', 'RDELAY', 'AGE', 'RSBP', 'HOURLOCAL', 'MINLOCAL',
       'DAYLOCAL', 'ONDRUG', 'CNTRYNUM', 'DIED', 'EXPDD', 'EXPD6', 'EXPD14',
       'SET14D', 'ID14', 'OCCODE', 'DEAD1', 'DEAD2', 'DEAD3', 'DEAD4', 'DEAD5',
       'DEAD6', 'DEAD7', 'DEAD8', 'H14', 'ISC14', 'NK14', 'STRK14', 'HTI14',
       'PE14', 'DVT14', 'TRAN14', 'NCB14'],
      dtype='object')

In [72]:
test_data_drop_obj.columns

Index(['ID', 'HOSPNUM', 'RDELAY', 'AGE', 'RSBP', 'HOURLOCAL', 'MINLOCAL',
       'DAYLOCAL', 'CNTRYNUM', 'EXPDD', 'EXPD6', 'EXPD14', 'SET14D', 'ID14',
       'DEAD1', 'DEAD2', 'DEAD3', 'DEAD4', 'DEAD5', 'DEAD6', 'DEAD7', 'DEAD8',
       'H14', 'ISC14', 'NK14', 'STRK14', 'HTI14', 'PE14', 'DVT14', 'TRAN14',
       'NCB14'],
      dtype='object')

In [44]:
#diff = ['ONDRUG', 'DIED', 'OCCODE', 'DVT14', 'TRAN14', 'NCB14']

In [73]:
tr_processed_data = train_data_drop_obj.drop(['ONDRUG','DIED'], axis=1)

In [74]:
X = tr_processed_data.drop(['OCCODE'], axis=1)
y = tr_processed_data['OCCODE']

In [75]:
X.shape

(9762, 31)

In [76]:
y.shape

(9762,)

In [78]:
test_data_drop_obj.shape

(9558, 31)

In [79]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=1)

In [80]:
from sklearn.ensemble import RandomForestClassifier
clf_r = RandomForestClassifier(n_estimators=150, criterion='entropy', max_depth=130,
                               random_state=1)
score = cross_val_score(clf_r, X, y, cv=k_fold, n_jobs=1, scoring='accuracy')
print(score)
round(np.mean(score)*100, 2)

[0.64892528 0.64585466 0.66803279 0.65266393 0.67213115 0.6567623
 0.69467213 0.64139344 0.65471311 0.63319672]

65.68

In [81]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=2, random_state=1)
score = cross_val_score(model, X, y, cv=k_fold, n_jobs=1, scoring='accuracy')
print(score)
print(np.mean(score))

[0.54452405 0.52507677 0.51536885 0.52459016 0.52561475 0.53278689
 0.55942623 0.51536885 0.53790984 0.52151639]
0.5302182786046277

In [82]:
clf_r.fit(X,y)

RandomForestClassifier(criterion='entropy', max_depth=130, n_estimators=150,
                       random_state=1)

In [83]:
pred = clf_r.predict(test_data_drop_obj)

In [86]:
np.unique(pred)

array([1, 2, 3, 4])

In [87]:
patient_died = []
for i in pred:
    if i==1:
        patient_died.append('Y')
    else:
        patient_died.append('N')

In [88]:
patient_died

['N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'Y',
 'N',
 'Y',
 'N',
 'N',
 'N',
 'N',
 'N',
 ...]

In [51]:
id = test['ID']

submission = pd.DataFrame({"ID" : id, 'PatientDied': patient_died})
submission.to_csv('stroke-trial-prediction.csv', index=False)